/* Example1.css */
.example-1 {
  display: flex;
  height: 263px;
  width: 100%;
  max-width: 484px;
  background: url('data:image/svg+xml;utf8,<svg width="484" height="244" viewBox="0 0 484 244" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 122C2 55.7258 55.7258 2 122 2C188.274 2 242 55.7258 242 122C242 188.274 295.726 242 362 242C428.274 242 482 188.274 482 122" stroke="black" stroke-width="3"/></svg>')
    no-repeat;
  background-position: center;
}

.example-1:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: rgb(0, 60, 255);
  offset-path: path("M2 122C2 55.7258 55.7258 2 122 2C188.274 2 242 55.7258 242 122C242 188.274 295.726 242 362 242C428.274 242 482 188.274 482 122");
  animation: example1 4s infinite ease forwards;
}

@keyframes example1 {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
