.empty_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    border-top: 1px solid black; /* Thin black border on top */
    background-color: #e5ecf1; /* Light blue background */
    
}

.edit_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: stretch;
    height: 10vh;
    width: 100vw;
    border-top: 1px solid black; /* Thin black border on top */
    background-color: #548eb7; /* Light blue background */
    top: 85vh;
    position: absolute;
    
}

.deleteRecord_button {
    justify-self: flex-end;
    padding-right: 2vw;
    width : 10vw;
    
   }

   .addRecord_button {
    justify-self: flex-end;
    padding-right: 2vw;
    width : 10vw;
    
   }

.download_button {
 justify-self: flex-end;
 padding-right: 2vw;
 width : 10vw;
 
}
.upload_button{
    justify-self: flex-start;
    padding-right: 2vw;
    width : 10vw;
}
.box_text {
    font-size: 1rem; /* Responsive font size based on viewport width */
    font-weight: bold; /* Bold text */
    color: #0b0101; /* Default text color */
    overflow: hidden; /* Hide overflow */
    text-align: center; /* Center align text */
    text-wrap: nowrap; /* Prevent text wrap */
    width : 30vw;
    padding-right: 22vw;
    justify-self: flex-start;
    justify-content: flex-start;
}   